<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="preview">
  <ion-avatar (click)="changeImage()">
    
    <!-- Usando la notación de corchetes para acceder a 'imageUrl' -->
    <img *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl']" />
    <ng-template #placeholder_avatar>
      <div class="fallback">
        <p>Select avatar</p>
      </div>
    </ng-template>
  </ion-avatar>
 </div>
</ion-content>
